---
import HeaderLink from './HeaderLink.astro';
import { useTranslations, getTranslatedUrl, getRouteFromTranslatedPath} from "../i18n/utils";
import type { Lang } from '../i18n/config';
import ThemeController from './ThemeController.astro';

const currentRoute = getRouteFromTranslatedPath(Astro.url) ?? [];

const lang = Astro.currentLocale as Lang;

const t = useTranslations(lang);

const homeLink = getTranslatedUrl(lang)
const blogLink = getTranslatedUrl(lang, 'blog')
const aboutLink = getTranslatedUrl(lang, 'aboutUs')
const nestedLink = getTranslatedUrl(lang, ['deep','deeper', 'nested'])
const switchPL = getTranslatedUrl('pl', currentRoute)
const switchEn = getTranslatedUrl('en', currentRoute)
const switchUk = getTranslatedUrl('uk', currentRoute)

---
<header class="navbar bg-base-100 shadow-sm fixed top-0 left-0 w-full z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <HeaderLink href={homeLink}>{t('nav.home')}</HeaderLink>
     	<HeaderLink href={blogLink}>{t('nav.blog')}</HeaderLink>
		<HeaderLink href={aboutLink}>{t('nav.about')}</HeaderLink>
		<HeaderLink href={nestedLink}>{t('nav.nested')}</HeaderLink>
      </ul>
    </div>
   	<a href={homeLink} class="btn btn-ghost text-xl">
		{t('name')}
	</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      	<HeaderLink href={homeLink}>{t('nav.home')}</HeaderLink>
     	<HeaderLink href={blogLink}>{t('nav.blog')}</HeaderLink>
		<HeaderLink href={aboutLink}>{t('nav.about')}</HeaderLink>
		<HeaderLink href={nestedLink}>{t('nav.nested')}</HeaderLink>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn">Button</a>
  </div>
</header>
<!-- <header>
	<nav>
		<h2><a href={homeLink}>{t('name')}</a></h2>
		<div class="internal-links">
			<HeaderLink href={homeLink}>{t('nav.home')}</HeaderLink>
			<HeaderLink href={blogLink}>{t('nav.blog')}</HeaderLink>
			<HeaderLink href={aboutLink}>{t('nav.about')}</HeaderLink>
			<HeaderLink href={nestedLink}>{t('nav.nested')}</HeaderLink>
		</div>
		<astro:language-switcher />
		<div class="social-links">
			<a href={switchPL}>
				<span class="sr-only">Polski</span>
				PL
			</a>
			<a href={switchEn}>
				<span class="sr-only">Engish</span>
				EN
			</a>			
			<a href={switchUk}>
				<span class="sr-only">Ukrainian</span>
				UK
			</a>	
		</div>
		<ThemeController/>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;	
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style> -->
