---
import Layout from '../../layouts/BlogPost.astro';
import AboutHeroImage from '../../assets/blog-placeholder-about.jpg';
import { AstroError } from 'astro/errors';
import { getEntry, render } from 'astro:content';

export function getStaticPaths() {
  return [     
	{ params: { lang: 'pl', aboutUs: 'about' }},
	{ params: { lang: 'en', aboutUs: 'about' }},  
	] 
}

const { lang, aboutUs } = Astro.params;

const entry = await getEntry('aboutUs', lang);

if (!entry) {
  throw new AstroError(`No aboutUs content for lang=${lang}`);
}

const { Content } = await render(entry);
---
<Layout
	title={entry.data.title}
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Lang: {lang} <br />
		About: {aboutUs}
	</p>	
	<Content />
</Layout>